# Ignore train data folder
TrainData/

# Ignore data of saved models
ModelSaved01/
ModelSaved02/
ModelSaved03/
ModelSaved04/


LeNet_Improved.ckpk.data-00000-of-00001
LeNet_Improved.ckpk.index
LeNet_Improved.ckpk.meta
